<div class="button-col">
  <button
    mat-raised-button
    (click)="builtInScheduler()">
    builtInScheduler
  </button>

  <button
    mat-raised-button
    (click)="renamedBuiltInScheduler()">
    renamedBuiltInScheduler
  </button>

  <button
    mat-raised-button
    (click)="customScheduler()">
    customScheduler
  </button>

  <button
    mat-raised-button
    (click)="audioContextSchedule()">
    audioContextSchedule
  </button>

  <button
    mat-raised-button
    (click)="audioContextScheduleButUnsubscribe()">
    audioContextScheduleButUnsubscribe
  </button>

  <button
    mat-raised-button
    (click)="observableOverAudioContext()">
    observableOverAudioContext
  </button>

  <button
    mat-raised-button
    (click)="proofOfConcept1()">
    proofOfConcept1
  </button>

</div>
