<h2 class="mat-h2">Signatures</h2>
<app-element></app-element>
<schedulers-and-animations></schedulers-and-animations>
<form [formGroup]="form" class="row">
  <div class="row">
    <div class="col">
      <signature-pad-card-group
        [group]="form"
        [config]="recordConfig">
      </signature-pad-card-group>
    </div>
    <div class="col">
      <signature-pad-card-group
        [group]="form"
        [config]="animateConfig">
      </signature-pad-card-group>
    </div>
  </div>
  <div class="button-row">
    <button mat-raised-button color="accent" type="reset">
      Reset
    </button>
    <button mat-raised-button color="primary" type="button"
      (click)="drawSignature()">
      Animate Real-Time
    </button>
    <button mat-raised-button color="primary" type="button"
      (click)="drawSignature(true)">
      Show immediately
    </button>
  </div>
</form>
