<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(matches$ | async) ? 'over' : 'side'"
    [opened]="!(matches$| async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="execution-context">Basics</a>
      <a mat-list-item routerLink="animation-scheduling">Animation</a>
      <a mat-list-item routerLink="recursive-scheduling">Recursive Scheduling</a>
      <a mat-list-item routerLink="virtual-time-scheduling">Virtual-Time</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content" style="height: calc(100vh);">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(matches$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RxJS Schedulers</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
