/* You can add global styles to this file, and also import other style files */

@import "assets/scss/styles.scss";

body { margin: 0; }

.main-content {
  padding: 20px 50px 50px 20px;
}

.button-row {
  display: flex;
  button,
  mat-slide-toggle {
    margin-right: 5px;
    float: left;
  }
}

.button-col {
  display: flex;
  flex-direction: column;
  button {
    margin-right: 5px;
  }
}
