$diagonal: 10px !default;
$distance: 5px !default;

.mat-form-field-infix {
  width: 300px;
}
mat-form-field {
  margin-right: 40px;
  &:last-child {
    margin-right: 0px;
  }
}

.button-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 3000;
  top: 40%;
  left: 25%;
  width: 50%;

  buttom {
    width: 100%;
  }

}


.mat-slide-toggle {
  margin-bottom: 10px;
  width: 40px;

  .mat-slide-toggle-label {
    justify-content: center !important;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 100%;
}

.circle {
  width: $diagonal;
  height: $diagonal;
  border-radius: 50%;
  background: #999999;

  &.blue {
    background: blue;
  }
  &.red {
    background: red;
  }
  &.green {
    background: green;
  }
  &.orange {
    background: orange;
  }
}

div.legend {
  color: #999;
  .circle {
    display: inline-block;
  }
}

.wrap {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #eee;

  .circle {
    position: absolute;
    margin-top: -5px;

    &.red {
      margin-top: $diagonal*0;
    }
    &.green {
      margin-top: $diagonal*1;
    }
    &.blue {
      margin-top: $diagonal*2;
    }
    &.orange {
      margin-top: $diagonal*3;
    }
  }
}
